.af-link {
  font-family: var(--font-primary);
  text-decoration: none;
  padding: 6px 30px;
  display: inline-block;
  text-align: center;
  
  &[data-variant="secondary"] {
    background-color: var(--secondary-button-bg-color);
    color: var(--secondary-button-color);
    border-radius: var(--button-border-radius);
  }

  &[data-variant="tertiary"] {
    color: var(--tertiary-button-color);
    border-radius: var(--button-border-radius);
    border: var(--tertiary-button-border);

    &:hover {
      background-color: var(--tertiary-button-hover-bg-color);
      color: var(--tertiary-button-hover-color);
    }
  }
}